*, *::after, *::before {

    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'PT Serif', serif;
  
  
  }
  
  
  html, body{
      
  width: 100%;
  height: 100%;
      
  margin: 0px; 
  padding: 0px;
  overflow-x: hidden;
  
  }
  


  

  .topnav {
    overflow: hidden;
    background-color: #fdb7b1;
    position: relative;
    z-index: 1;
    
  }
  
  .topnav a {
    float: right;
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    
  }
  
  .topnav a:hover {
    color: #ffffff;
  }
  
  
  
  .topnav .icon {
    display: none;
  }



  
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    
    top: 0;
    left: 0;
    background-color: #ebeceb;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    position: relative;
    left: 20%;
    top: 10%;
  }
  
  .sidenav a:hover {
    color: #fdb7b1;
  }




  .logo1{


    width: 150px;
    height: 100px;
    position: relative;
    left: 20%;
    top: 55px;
  }


  .logo2{


    width: 200px;
    height: 38px;
    position: relative;
    top: 5px;
    left: 1%;
  }


  .sclog1 {


    width: 30px;
    height: 30px;
    position: relative;
    left: 25%;
    top: 95px;

  }
/* added */
.main-text{
  position: absolute;
  width: 1103px;
  height: 754px;
  left: 366px;
  top: 44px;

}
.a-title{
  position: absolute;
  width: 165px;
  height: 44px;
  left: 44px;
  top: 76px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  
  
  color: #000000;
  
}
.a-text{
  position: absolute;
  width: 373px;
  height: 538px;
  left: 44px;
  top: 155px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #000000;

}

.pers1txt{
  position: absolute;
width: 608px;
height: 168px;
left: 704px;
top: 868px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #000000;

}
.pers2txt{
  position: absolute;
width: 612px;
height: 124px;
left: 704px;
top: 1181px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #000000;

}
.pers3txt{
  position: absolute;
width: 612px;
height: 124px;
left: 704px;
top: 1486px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #000000;


}
.pers4txt{
  position: absolute;
width: 612px;
height: 124px;
left: 704px;
top: 1786px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #000000

}
.smlT{
  font-size: 18px;
}
.name{
  font-weight: 600;
}