*, *::after, *::before {

    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'PT Serif', serif;
  
  
  }
  
  
  html, body{
      
  width: 100%;
  height: 100%;
      
  margin: 0px; 
  padding: 0px;
  overflow-x: hidden;
  
  }
  


  

  .topnav {
    overflow: hidden;
    background-color: #fdb7b1;
    position: fixed;
    width: 100%;
    z-index: 1;
    
  }
  
  .topnav a {
    float: right;
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    
  }
  
  .topnav a:hover {
    color: #ffffff;
  }
  
  
  
  .topnav .icon {
    display: none;
  }



  
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    
    top: 0;
    left: 0;
    background-color: #ebeceb;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    position: relative;
    left: 20%;
    top: 10%;
  }
  
  .sidenav a:hover {
    color: #fdb7b1;
  }




  .logo1{


    width: 150px;
    height: 100px;
    position: relative;
    left: 20%;
    top: 55px;
  }


  .logo2{


    width: 200px;
    height: 38px;
    position: relative;
    top: 5px;
    left: 1%;
  }


  .sclog1 {


    width: 30px;
    height: 30px;
    position: relative;
    left: 25%;
    top: 95px;

  }





.left-part{


    position: relative;
    width: 30%;
    left: 25%;
    top: 100px;
    
    /* background-color: #ff1500; */
}



.right-part{

    /* background-color: aqua; */
    position: relative;
    width: 28%;
    height: 60px;
    left: 63%;
    top: -565px;




}


.pic-r{


    width: 500px;
    height: 670px;


}


.head1{


    font-size: 50px;
}


.pra-1{


    font-size: 20px;
}



/* .grid-container{

    position: relative;
    background-color: #fdb7b1;
    width: 50%;
    top: 120px;
    left: 17.85%;
} */


.grid-container {
    display: grid;
    position: relative;
    top: 120px;
    width: 82.2%;
    left: 17.85%;
    grid-template-columns: auto auto auto auto auto;
    background-color: #fdb7b1;
    padding: 1px;
  }
  .grid-item {
   
    
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }


  .sub-title {


    /* background-color: brown; */
    position: relative;
    top: 160px;
    width: 82.2%;
    left: 17.85%;
    text-align: center;

  }



.pt-mid{

    /* background-color: chartreuse; */
    height: 80px;
    position: relative;
    top: 200px;
    width: 82.2%;
    left: 17.85%;

}


.sub-ti2{
   
    margin-left:110px;
}



.pic-m{

    position: relative;
    top: 10px;
    width: 1200px;
    height: 350px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  }


  .pic-m:hover{
    opacity: 0.5;
  }



  .pic-m2{


    width: 50px;
    height: 50px;
  }



  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:13%;
    left: 1160px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


  .pic{
    /* background-color: teal; */
    position: relative;
    width: 0px;
    left: 6%;
  }
  
  
  .pic:hover .middle {
    opacity: 1;
  }








  .g1:hover .middle2 {
    opacity: 1;
  }



  /* //////////////////////////////////////////////////////////////// */


  .middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 7%;
    left: 460px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .pic-m3{

    width: 25px;
    height: 25px;
  }






  .middle3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 7%;
    left: 845px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle3 {
    opacity: 1;
  }





  .middle4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 7%;
    left: 1230px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle4 {
    opacity: 1;
  }




/* //////////////////////////////////////////////////////////////// */

  .middle5 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40.5%;
    left: 460px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle5 {
    opacity: 1;
  }






  .middle6 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40.5%;
    left: 845px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle6 {
    opacity: 1;
  }







  .middle7 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40.5%;
    left: 1230px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle7 {
    opacity: 1;
  }






/* //////////////////////////////////////////////////////////////// */

  .middle8 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 73.5%;
    left: 460px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle8 {
    opacity: 1;
  }







  .middle9 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 73.5%;
    left: 845px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle9 {
    opacity: 1;
  }







  .middle10 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 73.5%;
    left: 1230px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }


  .g1:hover .middle10 {
    opacity: 1;
  }








  



  .sub-title2{

    /* background-color: crimson; */
    position: relative;
    top: 550px;
    width: 82.2%;
    left: 17.85%;

  }

  .heading-2{

    margin-left: 110px;
  }











.g-row{
	width: 100%;
	overflow: hidden;
	margin-left: 8.8%;

}

.g-row img{

	
	border-radius: 10px;
	width: 100%;   
}

.g1{

	width: 25%;
    float: left;
    margin: 20px;
    
}

.box{
    
    position: relative;
    top: 600px;
    width: 82.2%;
    left: 17.85%;
    


}

.gr-pic{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





.gr-pic:hover{
  opacity: 0.5;
}







.b-line{


  position: relative;
  width: 78%;
  left: 20%;
  top: 650px;

}


.b-end{


  /* background-color: crimson; */
  position: relative;
    top: 700px;
    width: 82.2%;
    height: 90px;
    left: 17.85%;


}

.button {
  
  border: 5px solid rgb(78, 78, 78);
  border-radius: 5%;
  background-color: white;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 50px;
}




.side-r{


  display: none;
 
}



.side-r2{


  display: none;
 
}


.side-r3{


  display: none;
 
}

.side-r4{


  display: none;
 
}

.side-r5{


  display: none;
 
}

.side-r6{


  display: none;
 
}

.side-r7{


  display: none;
 
}

.side-r8{


  display: none;
 
}

.side-r9{


  display: none;
 
}






@media only screen and (max-width: 500px) {



  .side-r{

    background-color: aqua;
    display: inline-block;
    
  }



}




