*, *::after, *::before {

  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box; 
  font-family: Montserrat;


}













@media (min-width: 500px){

  .pic-a{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
  }

  .recipe{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  .recipe-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }



  .vt{
    color: green;
    float: left;
    margin: 0.2em 1em 0.2em 0.1em;
  }

  .df{
    color: red;
  margin: 0.2em 1em 0.2em 0.5em;
  }

  .serves{
    font-weight: 500;
    margin-bottom: 0.2em;
  }

  .time{
    font-weight: 500;
  }

  .quote{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1EM;
    margin-bottom: 1EM;
    width: 90%;
  }

  .ingredients{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  .ingredients-t{
    margin-bottom: 1em;
    font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  }

  .instructions{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 2em;
  }

  .instructions-t{
    margin-bottom: 1em;
    font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  }

  .instructions-subt{
  font-weight: 600;
  }

  .button {
    display: none;
  }
}