*, *::after, *::before {

    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box; 
    font-family: Montserrat;
  
  
  }
  
  
  html, body{
      
  width: 100%;
  height: 100%;
      
  margin: 0px; 
  padding: 0px;
  overflow-x: hidden;
  
  }
  


  

  .topnav {
    overflow: hidden;
    background-color: #fdb7b1;
    position: relative;
    z-index: 1;
    
  }
  
  .topnav a {
    float: right;
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    
  }
  
  .topnav a:hover {
    color: #ffffff;
  }
  
  
  
  .topnav .icon {
    display: none;
  }



  
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    
    top: 0;
    left: 0;
    background-color: #ebeceb;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    position: relative;
    left: 20%;
    top: 10%;
  }
  
  .sidenav a:hover {
    color: #fdb7b1;
  }




  .logo1{


    width: 150px;
    height: 100px;
    position: relative;
    left: 20%;
    top: 55px;
  }


  .logo2{


    width: 200px;
    height: 38px;
    position: relative;
    top: 5px;
    left: 1%;
  }
  .logo3{


    
    position: relative;
    top: 5px;
   
  }



  .sclog1 {


    width: 30px;
    height: 30px;
    position: relative;
    left: 25%;
    top: 95px;

  }


.logomid{
  position: absolute;
width: 600px;
height: 120px;
left: 30%;
top: 100px;
}

.em{
  position: absolute;
  width: 500px;
  height: 60px;
left: 35%;
top: 300px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-indent: 10px;

color: #4E4E4E;

background: #F5F5F5;
border: 0.5px solid #A6A6A6;
box-sizing: border-box;
border-radius: 3px;
}
.fn{
  position: absolute;
  width: 500px;
  height: 60px;
left: 35%;
top: 400px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-indent: 10px;

color: #4E4E4E;

background: #F5F5F5;
border: 0.5px solid #A6A6A6;
box-sizing: border-box;
border-radius: 3px;


}
.use{
  position: absolute;
width: 500px;
height: 60px;
left: 35%;
top: 500px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-indent: 10px;

color: #4E4E4E;

background: #F5F5F5;
border: 0.5px solid #A6A6A6;
box-sizing: border-box;
border-radius: 3px;

}
.pass{
position: absolute;
width: 500px;
height: 60px;
left: 35%;
top: 600px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-indent: 10px;

color: #4E4E4E;

background: #F5F5F5;
border: 0.5px solid #A6A6A6;
box-sizing: border-box;
border-radius: 3px;

}
.confPass{
  position: absolute;
  width: 500px;
  height: 60px;
  left: 35%;
  top: 700px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-indent: 10px;
  
  color: #4E4E4E;
  
  background: #F5F5F5;
  border: 0.5px solid #A6A6A6;
  box-sizing: border-box;
  border-radius: 3px;
  
  }
  .sign{
    position: absolute;
    width: 500px;
    height: 60px;
    left: 35%;
    top: 800px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    
    color: #4E4E4E;
    
    background: #FDB7B2;
    border: 0.5px solid #A6A6A6;
    box-sizing: border-box;
    border-radius: 3px;
    
    }
    .log{
      position: absolute;
      width: 500px;
      height: 60px;
      left: 35%;
      top: 500px;
      
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-indent: 10px;
      
      color: #4E4E4E;
      
      background: #FDB7B2;
      border: 0.5px solid #A6A6A6;
      box-sizing: border-box;
      border-radius: 3px;
      
      }
/*///////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////*/
      @media only screen and (max-width: 750px) {
        .topnav {
          overflow: hidden;
          background-color: #fdb7b1;
          position: fixed;
          width: 100%;
          height: 5.5%;
          z-index: 1;
          
        }
        
        .topnav a {
          float: right;
          display: block;
          
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          color: #000000;
          font-size: 0px;
          
        }
        
        .topnav a:hover {
          color: #ffffff;
        }
        
        
        
        .topnav .icon {
          display: none;
        }
        
        .sidenav {
          display: none;
        }
        .logomid{
          position: absolute;
        width: 90%;
        height: 80px;
        left: 5%;
        top: 100px;
        }
        .em{
          position: absolute;
          width: 80%;
          height: 60px;
        left: 10%;
        top: 300px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        
        color: #4E4E4E;
        
        background: #F5F5F5;
        border: 0.5px solid #A6A6A6;
        box-sizing: border-box;
        border-radius: 3px;
        }
        .fn{
          position: absolute;
          
        width: 80%;
          height: 60px;
        left: 10%;
        top: 400px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        
        color: #4E4E4E;
        
        background: #F5F5F5;
        border: 0.5px solid #A6A6A6;
        box-sizing: border-box;
        border-radius: 3px;
        
        
        }
        .use{
          position: absolute;
          width: 80%;
          height: 60px;
        left: 10%;
        
        top: 500px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        
        color: #4E4E4E;
        
        background: #F5F5F5;
        border: 0.5px solid #A6A6A6;
        box-sizing: border-box;
        border-radius: 3px;
        
        }
        .pass{
        position: absolute;
        width: 80%;
          height: 60px;
        left: 10%;
        
        top: 600px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        
        color: #4E4E4E;
        
        background: #F5F5F5;
        border: 0.5px solid #A6A6A6;
        box-sizing: border-box;
        border-radius: 3px;
        
        }
        .confPass{
          position: absolute;
          width: 80%;
          height: 60px;
        left: 10%;
          
          top: 700px;
          
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 20px;
          display: flex;
          align-items: center;
          text-indent: 10px;
          
          color: #4E4E4E;
          
          background: #F5F5F5;
          border: 0.5px solid #A6A6A6;
          box-sizing: border-box;
          border-radius: 3px;
          
          }
          .sign{
            position: absolute;
            width: 80%;
          height: 60px;
        left: 10%;
            
            top: 800px;
            
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-indent: 10px;
            
            color: #4E4E4E;
            
            background: #FDB7B2;
            border: 0.5px solid #A6A6A6;
            box-sizing: border-box;
            border-radius: 3px;
            
            }
            .log{
              position: absolute;
              width: 80%;
          height: 60px;
        left: 10%;
             
              top: 500px;
              
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 20px;
              display: flex;
              align-items: center;
              text-indent: 10px;
              
              color: #4E4E4E;
              
              background: #FDB7B2;
              border: 0.5px solid #A6A6A6;
              box-sizing: border-box;
              border-radius: 3px;
              
              }
      
      }