*::after, *::before {

  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box; 
  font-family: Montserrat;
}


@media only screen and (min-width: 757px){

html, body{
    
width: 100%;
height: 100%;
    
margin: 0px; 
padding: 0px;
overflow-x: hidden;

}





.topnav {
  overflow: hidden;
  background-color: #fdb7b1;
  position: fixed;
  width: 100%;
  z-index: 1;
  
}

.topnav a {
  float: right;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  
}

.topnav a:hover {
  color: #ffffff;
}



.topnav .icon {
  display: none;
}

#w1{
 
  font-family: Montserrat;
}

#w2{
  
  font-family: Montserrat;
}






.sidenav-1 {
  height: 100%;
  width: 300px;
  position: fixed;
  
  top: 0;
  left: 0;
  background-color: #ebeceb;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Montserrat;
  color: #000000;
  display: block;
  position: relative;
  left: 20%;
  top: 10%;
}

.sidenav-1 a:hover {
  color: #fdb7b1;
}

.sidenav {

  display: none;

}

.sidenav a {
  display: none;
}

.sidenav a:hover {
  display: none;
}

.sidenav .closebtn {
  display: none;
  
}

.logo1{
  width: 150px;
  height: 100px;
  position: relative;
  left: 20%;
  top: 55px;
}


.logo2{
  width: 200px;
  height: 38px;
  position: relative;
  top: 5px;
  left: 1%;
}


.sclog1 {
  width: 30px;
  height: 30px;
  position: relative;
  left: 25%;
  top: 95px;
}



p{
  font-family: Montserrat;
  margin: 0em;
}

.pic-a{
  width: 35%;
  position: relative;
  top: 80px;
  left: 350px;
  float: left;
}

.recipe-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  position: relative;
  font-size: 30px;
  line-height: 109.9%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.recipe{
 position: relative;
 display: inline-block;
  left: 380px;
  width: 30%;
  top: 80px;
}



.vt{
  color: green;
  float: left;
  margin: 0.3em 0.5em 0 0;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
background-color: #fcf1f0;
border: 1px solid #fcf1f0;
width: 30px;
height: 30px;
border-radius: 50%;
justify-content: center;
align-items: center;
display: flex;

}

.df{
  float: left;
  color: red;
margin: 0.3em 1em 0 0.3em;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
background-color: #fcf1f0;
border: 1px solid #fcf1f0;
width: 30px;
height: 30px;
border-radius: 50%;
justify-content: center;
align-items: center;
display: flex;
}

.serves{
  font-weight: 500;
  margin-top: 0.6em;
 font-size: 18px;
}

.time{
  font-weight: 500;
  font-size: 18px;
}

.quote{
  display: block;

  margin-top: 1EM;
  margin-bottom: 1EM;
  width: 90%;
}

.instructions-p{
  position: relative;
  width: 35%;
  left: 350px;
  top: -430px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  
  }
  .instructions-t{
  position: relative;
  width: 35%;
  left: 350px;
  top: -440px;
  
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
    }
  
    

    .ingredients{
    position: relative;
    width: 30%;
    left: 950px;
    top: 85px;
    
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    
    }



    .ingredients-t{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.05em;
      margin-bottom: 0.5em;
      

    }
      
    .footer-line{
      position: relative;
      width: 85%;
      margin-left: 65px;
      top:50px;
      
    }

      .footer{
        position: relative;
        
        width: 80%;
        top: -360px;
        left: 280px;
        
        
      }

      .button{
  
        border: 5px solid rgb(78, 78, 78);
        border-radius: 5%;
        background-color: white;
        font-family: Montserrat;
        width: 191px;
        height: 52px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 15px;
        cursor: pointer;
        position: relative;
        left: 55px;
        
      }
      
      
    }
      

@media only screen and (max-width:756px){

  main{
font-family: montserrat;
  }

  p{
    margin: 0;
  }

    .pic-a{

      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.5em;
    }



    .recipe{
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }

    .recipe-title{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
    
    }



    .vt{
      color: green;
      float: left;
      margin: 0.3em 0.5em 0 0;
      font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    background-color: #fcf1f0;
    border: 1px solid #fcf1f0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    
    }
    
    .df{
      float: left;
      color: red;
    margin: 0.3em 1em 0 0.3em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    background-color: #fcf1f0;
    border: 1px solid #fcf1f0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    
    .serves{
      font-weight: 500;
      margin-top: 0.6em;
    
    }

    .time{
      font-weight: 500;

    }

    .quote{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1EM;
      margin-bottom: 1EM;
      width: 90%;
    }

    .ingredients{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }

    .ingredients-t{
      margin-bottom: 1em;
      font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    }

    .instructions-container{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
      margin-bottom: 2em;
    }

    .instructions-t{
      margin-bottom: 1em;
      font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    }

    .instructions-subt{
    font-weight: 600;
    }

    .button {
      display: none;
    }

    .sidenav-1{
      display: none;
    }
  
    p{
      margin: 0;
    }
  
    #w1{
    display: none;
  }
  
  #w2{
    display: none;
  }

}