*, *::after, *::before {

    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box; 
    font-family: Montserrat;
  
  
  }
  
  
  html, body{
      
  width: 100%;
  height: 100%;
      
  margin: 0px; 
  padding: 0px;
  overflow-x: hidden;
  
  }
  


  
/* ......................................................................................................................... */

  
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    
    top: 0;
    left: 0;
    background-color: #ebeceb;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    position: relative;
    left: 20%;
    top: 10%;
  }
  
  .sidenav a:hover {
    color: #fdb7b1;
  }

/* ......................................................................................................................... */


  .logo1{


    width: 150px;
    height: 100px;
    position: relative;
    left: 20%;
    top: 55px;
  }


  .logo2{


    width: 200px;
    height: 38px;
    position: relative;
    top: 5px;
    left: 1%;
  }


  .sclog1 {


    width: 30px;
    height: 30px;
    position: relative;
    left: 25%;
    top: 95px;

  }


  /* ......................................................................................................................... */

/* added */
.fTitle{
  position: absolute;
width: 217px;
height: 36px;
left: 777px;
top: 97px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;

color: #000000;

}
.sub{
  position: absolute;
width: 402px;
height: 20px;
left: 685px;
top: 162px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

color: #000000;

}
.und{
  position: absolute;
width: 765px;
height: 29px;
left: 503px;
top: 729px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;

}




/* ......................................................................................................................... */

.topnav {
  overflow: hidden;
  background-color: #fdb7b1;
  position: fixed;
  width: 100%;
  z-index: 1;
  
}

.topnav a {
  float: right;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  
}

.topnav a:hover {
  color: #ffffff;
}



.topnav .icon {
  display: none;
}


/* ......................................................................................................................... */



.sidenav-1 {
  height: 100%;
  width: 300px;
  position: fixed;
  
  top: 0;
  left: 0;
  background-color: #ebeceb;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  position: relative;
  left: 20%;
  top: 10%;
}

.sidenav-1 a:hover {
  color: #fdb7b1;
}



/* ......................................................................................................................... */




.sidenav {

  display: none;

}

.sidenav a {

  display: none;

}

.sidenav a:hover {
  display: none;
}


.sidenav .closebtn {
  display: none;
  
}


/* ......................................................................................................................... */





.logo1{


  width: 150px;
  height: 100px;
  position: relative;
  left: 20%;
  top: 55px;
}


.logo2{


  width: 200px;
  height: 38px;
  position: relative;
  top: 5px;
  left: 1%;
}


.sclog1 {


  width: 30px;
  height: 30px;
  position: relative;
  left: 25%;
  top: 95px;

}

/* ......................................................................................................................... */

.bt-side-nav{

display: none;
}


.logo1x{

display: none;

}


/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 750px) {

  .sidenav {
    display:none;
  } 
  .sidenav a {
    display: none;
  }
  .sidenav a:hover {
    color: #fdb7b1;
  }

  /* ......................................................................................................................... */


  .logo1{
display: none;
  }
  .logo2{
display: none;
  }


  .fTitle{
  position: absolute;
  width: 217px;
  height: 36px;
  left: 40%;
  top: 97px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  
  color: #000000;
  
  }
  .sub{
  position: absolute;
  width: 100%;
  height: 20px;
  left: 25%;
  top: 162px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  
  color: #000000;
  
  }
  .und{
    position: absolute;
  width: 100%;
  height: 29px;
  left: 5px;
  top: 729px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  
  }

/* ......................................................................................................................... */

  .topnav {
    overflow: hidden;
    background-color: #fdb7b1;
    position: fixed;
    width: 100%;
    height: 5.5%;
    z-index: 1;
    
  }
  
  .topnav a {
    float: right;
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    
  }
  
  .topnav a:hover {
    color: #ffffff;
  }
  
  
  
  .topnav .icon {
    display: none;
  }


  .logo1x{

    position: relative;
    width: 67px;
    height: 48px;
    top:2px;
    left: 5px;
    float: left;
    display: block;

  
  }


/* ......................................................................................................................... */


  #w1{

    display: none;

  }

  #w2{

    display: none;

  }

  .sidenav-1 {


    display: none;

  }

  .sidenav-1 a {

    display: none;
  }

  .sidenav-1 a:hover {
    display: none;
  }



/* ......................................................................................................................... */



  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ebeceb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    display: block;
    color: #fdb7b1;
  }


  .sidenav .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 130px;
    
  }



    .bt-side-nav{

      display: flex;
      position: relative;
      float: right;
      right: 2%;
      
      top:10%
    }


    #social-m{

      display: none;
    }


    .logo1{


      display: none;

    }


    .logo2{


      display: none;
    }


    .sclog1 {


      display: none;

    }



}